@import "./common/index";

// 按钮
.cf-button {
    display: inline-block;
    border: solid 1px #dcdcdc;
    border-radius: 3px;
    background: #FFF;
    color:#333; 
    cursor: pointer;
    padding:10px 20px; 
    margin:0;
    font-size:14px; 
    transition: all .1s;
    outline: none;
    text-align: center;
    white-space: nowrap;
}

.cf-button-primary {
    background: #1E9FFF; color:#FFF; border-color: #1E9FFF;
}
.cf-button-submit {
    background: #009688; color:#FFF; border-color: #009688;
}
.cf-button-warning {
    background: #e6a23c; color:#FFF; border-color: #e6a23c;
}
.cf-button-danger {
    background: #f4516c; color:#FFF; border-color: #f4516c;
}
.is-round {
    border-radius: 20px;
    padding:10px 23px;
}