// 基础色彩
$border-color-base = #dcdcdc;   //组件边框默认色

$font-color = #212121;          //组件文本默认色


//基础尺寸

$font-size = 14px;


// 基础字体

$font-family = Microsoft YaHei,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,SimSun,sans-serif